header{
    grid-area: a-header;
}

nav{
    grid-area: a-nav;
    display: flex;
    justify-content: center;
}

.portada{
    grid-area: a-portada;
}

aside{
    grid-area: a-aside;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;

    align-items: center;
    align-content: center;
}

#page{

}